{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center mt-5">
        {% if validlink %}
            <form method="post">
            {% csrf_token %}
            <div class="col-md-6 mx-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-header text-center">
                        <h5 class="card-title">Reset password</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <p><label for="new_password1" class="form-label">New Password</label></p>
                            {{ form.new_password1 }}    
                        </div>

                        <div>
                            <p><label for="new_password2" class="form-label">Confirm new Password</label></p>
                            {{ form.new_password2 }}    
                        </div>

                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-sm btn-outline-dark mt-2" value="Change">
                    </div>
                </div>
            </div>
            </form>
            {% else %}
                <h2>Password reset unsuccessfull.</h2>
                <p>Link is invalid</p>
            {% endif %}
        </div>
    </div>
{% endblock %}