<!DOCTYPE html>
  <head>
    <title>Books store</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="py-10">
      <h1 class="text-center text-3xl">Django Book store</h1>
      <div class="grid grid-cols-4 gap-4">
        {% for book in books %}
        <a href="{% url 'book.show' book.id %}" class="justify-self-center text-center my-4" target="_blank">
          <div class="flex justify-center">
            <img src="{{ book.thumbnailUrl }}" width="200">
          </div>
            <p class="mb-2">{{ book.title }}</p>
        </a>
        {% endfor %}
      </div>
    </section>
  </body>
</html>